<h1>Show Country</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @country.name %>
  </li>

  <li>
    <strong>Abbrv:</strong>
    <%= @country.abbrv %>
  </li>

  <li>
    <strong>Active status:</strong>
    <%= @country.active_status %>
  </li>

  <li>
    <strong>Del status:</strong>
    <%= @country.del_status %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.country_path(@conn, :edit, @country) %></span>
<span><%= link "Back", to: Routes.country_path(@conn, :index) %></span>
